@{ ViewBag.Title = "Home Page";

    <link href="~/Styles/HomeSheet.css" rel="stylesheet" />
}



<div class="row">
    <div class="col-md-4">
        <h2>Register for vaccine</h2>
        <p style="font-size:1.3em;">
            Get Vaccinated Quickly
        </p>
        <p><a class="btn btn-default button" href="/Customers/Create">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join us</h2>
        <p style="font-size:1.3em;">Be a part of our community</p>
        <p><a class="btn btn-default button" href="/Accounts/Index">Click Here &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Admin</h2>
        <p style="font-size:1.3em;">Login</p>
        <p><a class="btn btn-default button" href="/Accounts/Login">Click Here &raquo;</a></p>
    </div>
</div>
