
@{
    ViewBag.Title = "Index";
    <link href="~/Styles/buttons.css" rel="stylesheet" />

}
<ul id="buttons">
    <li>@Html.ActionLink("Register for vaccine", "Create", "Customers")</li>
    <li>@Html.ActionLink("Manufacturer Registration", "Create", "Manufacturers")</li>
    <li>@Html.ActionLink("Distributor Registration", "Create", "Distributors")</li>
    <li>@Html.ActionLink("Hospital Registration", "Create", "Hospitals")</li>
</ul>






