
@{
    ViewBag.Title = "Index";
    <link href="~/Styles/buttons.css" rel="stylesheet" />

}
<ul id="buttons">
    <li>@Html.ActionLink("Register Manually", "Create", "Admin")</li>
    <li>@Html.ActionLink("Manufacturer ", "Create", "Admin")</li>
    <li>@Html.ActionLink("Distributor ", "Create", "Admin")</li>
    <li>@Html.ActionLink("Hospital ", "Create", "Admin")</li>
</ul>

